.left {
	float: left;
	margin: 0 10px 0 0;
}

.right {
	float: right;
	margin: 0 0 0 10px;
}

.pointer {
	cursor: pointer;
}

.none {
	display: none;
}

.dialog {
	position: fixed;
    top: 10px;
    background: lightgray;
    padding: 10px 10px 40px 10px;
    right: 10px;
    left: 10px;
    bottom: 10px;
}

.dialog .inner {
	height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.clear {
	display: block;
	clear: both;
}

.dialog button {
	position: absolute;
    bottom: 10px;
    right: 10px;
}

.replaced {
	color: cadetblue;
	text-decoration: underline;
}

.replaced:hover {
	text-decoration: none;
}